/* Footer */
.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-logo {
    margin-bottom: 30px; /* Increase the margin-bottom for more spacing */
  }
  
  .logo-img {
    width: 100px; /* Set the width as needed */
    height: auto;
  }
  
  .footer-icons {
    margin-bottom: 20px;
    
  }
  
  .icon {
    font-size: 28px;
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s;
    
  }
  
  .icon:hover {
    color: #ff4500; /* Change the color on hover */
  }
  
  .footer-options {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-options p {
    margin: 5px 0;
  }
  
  .footer-options a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s;
  }
  
  .footer-options a:hover {
    color: #ff4500; /* Change the color on hover */
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .footer-logo {
      margin-bottom: 15px; /* Adjust the margin for smaller screens */
    }
    
    .logo-img {
      width: 80px; /* Adjust the width for smaller screens */
    }
    
    .icon {
      font-size: 24px;
    }
    
    .footer-options {
      font-size: 12px;
    }
  }
  